/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COLORI
azzurro: #add8e6
rosa scuro: #ee82ee
rosa chiaro: #ffc0cb
arancione: #daa520
blu: #00008b
blu chiaro: #1e90ff
grigio: #d3d3d3
verde: #228b22
quasi nero: #23272a
corallo: #f08080
verde-acqua1: #20b2aa
verde-acqua2: #7fffd4
rosa footer: #ffb6c1
*/

/* REGOLE GENERALI */

.container-flex, .content-header-2, .box {
    max-width: 1200px;
    margin: 0 auto;
}

/* REGOLE HEADER - BLOCCO 1*/
.container-header-1 {
    background-color:#add8e6;
    min-height: 100px;
}


/* REGOLE HEADER - BLOCCO 2*/
.debug .container-header-2 {
    background-color: #00008b;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}











/* DEBUG */

/* REGOLE HEADER - BLOCCO 1 */
.container-header-1 {
    background-color:#add8e6;
    min-height: 100px;
}

.debug .container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.debug .intestazione {
    height: 50px;
    background-color: #daa520;
    border: 1px dashed black;
    width: 20%;
}

.debug .nav {
   flex-grow: 2;
}

.debug .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

/* REGOLE HEADER - BLOCCO 2 */
.debug .container-header-2 {
    background-color: #00008b;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.debug .content-header-2 {
    background-color:#ee82ee;
    border: 1px dashed black;
    width: 50%;
    min-height: 250px;
}


/* REGOLE MAIN - SEZIONI 1,2,3 */
.debug .container-section {
    min-height: 350px;
}

.debug .bg-white {
    background-color: white;
}

.debug .bg-gray {
    background-color: #d3d3d3;
}

.debug .bg-black {
    background-color: #23272a;
}

.debug .box {
    min-height: 350px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
}

.debug .part-big {
    background-color: #1e90ff;
    border: 1px dashed black;
    height: 300px;
    width: 66.6%;
}

.debug .part-small {
    background-color: #ffc0cb;
    border: 1px dashed black;
    height: 300px;
    width: 33.3%;
}